body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legend {
  background-color: white;
  padding: 10px;
  line-height: 1.5em;
  border: 2px solid #000;
  border-radius: 5px;
}

.legend h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}